$iconSpritePath: "../images/glyphicons-halflings.png";
$iconWhiteSpritePath: "../images/glyphicons-halflings-white.png";

@import "../bower_components/bootstrap-sass/lib/bootstrap";

/* Put your CSS here */

body {
    background: #fafafa;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333;

    > header{
        background:#eee;
        overflow:auto;
        padding:10px;
    }
}


.hero-unit {
    margin: 50px auto 0 auto;
    width: 800px;
    font-size: 18px;
    margin-bottom:40px;
    font-weight: 200;
    line-height: 30px;
    background-color: #eee;
    border-radius: 6px;
    padding: 10px 60px;
}

.hero-unit h1 {
    font-size: 60px;
    line-height: 1;

    letter-spacing: -2px;
}

.button-panel{
    float:right;
    margin:10px;
    
    button{

        margin-left:10px;
    }
}