  <a class="btn" ng-click='logout()'>Logout</a>  
  <p>Welcome, {{user.email}}</p>
  <div class="hero-unit"> 	
 	<header>
 		<form ng-submit="post(message, userid)">
			Start Kalbal!!!
 			<div controls form-inline>
 				<input type="text" ng-model='message' size="140" />
 				<input type="text" style="display:none" ng-model='userid' size="140" value="1" />
 				<button type="submit" class="btn btn-primary">Kalbal</button>	
 			</div>
 		</form>
 	</header>
</div>
<section id='kalbals-holder'>
	<ul ng-repeat='kalbal in kalbals'>
		<li>{{kalbal.message}}</li>	
	</ul>
</section>

