<div class="hero-unit"> 	
 	<header>
		<h4>Register Your Self</h4> 
 		<form ng-submit="register(handle, email, name, password)">

 			<div controls form-inline>

 				<label>Kalbal Handle</label>
 				<input type="text" ng-model='handle' size="140" />

 				<label>Email</label>
 				<input type="text" ng-model='email' size="140" />

				<label>Name</label>
	 			<input type="text" ng-model='name' size="140" />

				<label>Password</label>
	 			<input type="text" ng-model='password' size="140" />

 				<button type="submit" class="btn btn-primary">Register</button>	
 			</div>
 		</form>
 	</header>
</div>